
.box{
    height: 340px;
    width: 300px;
    display: flex;
    flex-direction:column;
    border: 2px solid black;
    border-radius: 20px;
}

.upper{
    height: 60%;
    width: 100%;
    padding: 10px;
}

.upper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lower{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
}

.lower h4{
    color: rgb(105, 105, 105);
}

.rating{
    color: green;
}

.badrating{
    color: red;
}