.container{
    height: 100vh;
    width: 100vw;
    background-color:orange;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.carinfo{
    height: 230px;
    width: 310px;
    background-color: teal;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-around;
}