.card{
    height: 200px;
    width: 200px;
    background-color: teal;
}

#abc{
    padding: 20px 50px ;
}

.inner-div{
    height: 300px;
    width: 300px;
    background-color: aqua;
}