*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html,body{
  height: 100%;
  width: 100%;
}

.card{
  height: 400px;
  width: 400px;
  background-color: orange;
}